// Global Styling

html {
  font-family: "Roboto", sans-serif;
}

.v-application {
  .bw-channel-topbar {
    border-right: solid 1px $bw-blue !important;
    overflow: auto;
  }
}


/*$c1: #0c2a41;
$c2: #0a0a19;
$c3: #262639;
$c4: #251237;
$c5: #0e1b28;
$c6: #113a5a;*/

.v-application .gradient-background {
  //background: linear-gradient(-45deg, 0c2a41, 0a0a19, 262639, 251237, 0e1b28, 113a5a);
  background: linear-gradient(-45deg, #0e3955, #0a0a19, #053e5a, #251237, #0e1b28, #113a5a);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


/* Dora Gradient Background */
/*body {
  .v-application.theme--dark {
    background: rgb(10,10,25);
    background: linear-gradient(0deg, rgba(10,10,25,1) 0%, rgba(21,21,34,1) 100%);
  }
}*/



/* Fun Text */

$rgbSpeed: 8s;

.rgb-text,
.rgb--text
{
  animation: rainbow $rgbSpeed linear infinite;
  background-image: repeating-linear-gradient(45deg, red, orange, yellow, #00ff11, blue, #00ff11, yellow, orange, red );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

@keyframes rainbow {
  0%   { background-position: 0 50% }
  50%  { background-position: 100% 25% }
  100% { background-position: 0 50% }
}


$scanSpeed: 2s;

.red-scan--text
{
  animation: scan $scanSpeed linear infinite;
  background-image: repeating-linear-gradient(90deg, red, white, white, white, white, red, white, white, white, white, red );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}


$scan1BgColor: #455A64;
$scan1Ac1Color: #2196f3;
$scan1Ac2Color: #42A5F5;
$scan1Ac1Color: #FFEB3B;

.scan-1-r--text
{
  animation: scanRight $scanSpeed linear infinite;
  background-image: repeating-linear-gradient(90deg, $scan1Ac1Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac2Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac1Color );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.scan-1-l--text
{
  animation: scanLeft $scanSpeed linear infinite;
  background-image: repeating-linear-gradient(90deg, $scan1Ac1Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac2Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac1Color );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.scan-1-u--text
{
  animation: scanUp $scanSpeed linear infinite;
  background-image: repeating-linear-gradient(0deg, $scan1Ac1Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac2Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac1Color );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.scan-1-d--text
{
  animation: scanDown $scanSpeed linear infinite;
  background-image: repeating-linear-gradient(0deg, $scan1Ac1Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac2Color, $scan1BgColor, $scan1BgColor, $scan1BgColor, $scan1Ac1Color );
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

@keyframes scanRight {
  0%   { background-position: 100% 0 }
  50%  { background-position:  50% 0 }
  100% { background-position:   0% 0 }
}

@keyframes scanLeft {
  0%   { background-position:   0% 0 }
  50%  { background-position:  50% 0 }
  100% { background-position: 100% 0 }
}

@keyframes scanUp {
  0%   { background-position: 0   0% }
  50%  { background-position: 0  50% }
  100% { background-position: 0 100% }
}

@keyframes scanDown {
  0%   { background-position: 0 100% }
  50%  { background-position: 0  50% }
  100% { background-position: 0   0% }
}
