.video-js {
  font-size: 11px;
  overflow: hidden;

  // Control Bar (container)
  .vjs-control-bar {
    background-color: rgba(20, 20, 20, 0.45);
  }

  // Progress Bar
  .vjs-progress-control.vjs-control {
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    transform: translateY(-75%);

    // Circle play head
    .vjs-play-progress::before {
      transform: scale(0);
      transition: transform .3s;
    }

    &:hover {
      .vjs-play-progress::before {
        transform: scale(1);
      }
    }

    // Progress Slider
    .vjs-slider {
      margin: 0 5px;
      top: 50%;
    }
  }

  // Load progress color
  .vjs-load-progress,
  .vjs-load-progress div {
    background-color: rgba(60, 60, 60, 0.5);
  }

  // Progress Bar Background
  .vjs-slider {
    background-color: rgba(60, 60, 60, 0.5);
  }

  // Primary Color Progress
  .vjs-slider-bar {
    background-color: #ffeb3b;
  }

  // Inner Progress Bar
  .vjs-play-progress {
    background-color: #ffeb3b;
    color: #ffeb3b;
  }

  // Spacer
  .vjs-custom-control-spacer {
    display: flex;
    flex: auto;
  }

  // Transcoding menu
  /*.vjs-tech {
    height: auto !important;
    position: absolute !important;
  }*/

  // Menu size
  .vjs-playback-rate .vjs-menu .vjs-menu-content {
    width: 125%;
    font-size: 10px;
  }
}

// Tooltips
.vjs-mouse-display .vjs-time-tooltip {
  color: #ffeb3b;
}

.vjs-has-started {
  .vjs-control-bar {
    transform: translateY(0);
    transition: .3s;
  }

  &.vjs-user-inactive.vjs-playing {
    .vjs-control-bar {
      transform: translateY(127%);
      transition: .5s;
    }
  }
}

a {
  color: yellow;
  text-decoration: none;
}

#description {
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%;

  img {
    max-width: 100%;
  }
}

.bottom-gradient {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 72px);
}

.blink{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
